@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
@import '~react-image-gallery/styles/css/image-gallery.css';
*,
body * {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: Kanit, sans-serif;
}

html {
  font-size: 15.5px;
  font-family: Kanit, sans-serif;
}
@media (min-width: 1600px) {
  html {
    font-size: 16.5px;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-weight: 400;
  font-size: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Kanit, sans-serif;
  font-weight: 400;
  margin-top: 0;
  letter-spacing: 0em;
  margin-bottom: 0rem;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.554em;
}
h4 {
  font-size: 1.254em;
}

p {
  font-size: 1.036em;
}
